<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div>
    <table class="table table-striped">
      <h1 class="title" ><centre>Your Checkout Page </centre></h1>
      <thead>
          <tr>
              <th scope="col">Cart</th>
              <th scope="col">Rent Duration</th>
              <th scope="col">Return Time</th>
            </tr>
      </thead>

      <tbody>
          <tr>
            <!-- <%users.forEach(function(user){ %>
            <td scope="row"> <%=user.item%> </td>
            <td scope="row"> <%=user.timeRent%> </td>
            <td scope="row"> <%=user.timeReturn%> </td>
            <td scope="row"><button type="submit" id="submit_button" name = "course_id" class="btn btn-primary" >Checkout Item</button></td>
            <% }); %> -->
            <%checkout.forEach(function(course){ %>
              <tr>
                <td scope="row"><%=checkout.item%></td>
                <td scope="row"><%=checkout.timeRent%></td>
                <td scope="row"><%=checkout.timeReturn%></td>
                <td>
            <% }); %>
          </tr>
      </tbody>
  </div> 
</main>

<%- include ('../partials/footer') %>

