<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <h1><center>Home</center></h1>
    <p><center>Rules and How to Use</center> </p>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp The Tech Libray is a place where you can rent technology that we have in stock. Its very easy to use just sign in and then search for an item in the search bar above.</p>
    <p>When you have added all of your items just click checkout at the top and it will walk you through the rest. Down below we have a list of the most commonly rented items.</p>

   <table class = "table"><center>
   
   <thead>
    <tr>
        <th> Popularity (Scale of 1-5)</th>
        <th> Item Type </th>
        <th> Visual  </th>
        <th> Brand </th>
        <th> Find Your Item </th>
        <th> </th>
    </tr>
    </thead>
    

    <tbody>
    <% Items.forEach(function(Item){ %>
        
        <tr>
            <td> <%= Item.num %> </td>
            <td> <%= Item.categoryname %> </td>
            <td> <img src=<%= Item.url %> alt= <%= Item.categoryname %> height=100 width=100></img> </td>
            <td> <%= Item.brand %></td>
            
            <td>
                <form id ="form3" action="/search" method="GET">
                  <input value = <%=Item.categoryname %> name = "search" id = <%= Item.itemid %> type = hidden>
                 <button type="submit" class="btn btn-dark"> Find Item </button> 
                </form> 
            </td>
        </tr>
     <% }) %> 
    </tbody>
    </center>
  </table>
  </div>

<%- include ('../partials/footer') %>