<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <h1><center>Home</center></h1>
    <div class="card">
        <div class="card-header">
            <center>About Us</center>
          </div>
        <div class="card-body" style="background-color: #90e0ef;">
            <center> <p>
                The CU Boulder Tech Library helps users who have forgotten or lost their devices. 
                To get started, search for an item to borrow in the search bar above. 
                Alternatively, down below is a list of the most commonly borrowed items.
                </p></center>
                <center> <p>When you have added all of your items, just click on cart in the navbar to checkout.
                    To pick up your items, visit front desk in the Norlin library. 
                    To change your personal information, see your items, or to return items, click on profile.
                </p></center>               
        </div>
      </div>

   <table class = "table"><center>
   
   <thead> 
    <style>
        body {
        background-color:  #00b4d8;
        }
    </style>
    <tr>
        <th> Popularity</th>
        <th> Item Type </th>
        <th> Visual  </th>
        <th> Brand </th>
        <th> Find Your Item </th>
        <th> </th>
    </tr>
    </thead>
    

    <tbody>
        <br>
        <h1><center>Popular Items</center></h1>
        <br>

    <% Items.forEach(function(Item){ %>
        
        <tr>
            <td> <%= Item.num %> </td>
            <td> <%= Item.categoryname %> </td>
            <td> <img src=<%= Item.url %> alt= <%= Item.categoryname %> height=100 width=100></img> </td>
            <td> <%= Item.brand %></td>
            
            <td>
                <form id ="form3" action="/search" method="GET">
                  <input value = "<%=Item.categoryname %>" name = "search" id = <%= Item.itemid %> type = hidden>
                 <button type="submit" class="btn btn-dark"> Find Item </button> 
                </form> 
            </td>
        </tr>
     <% }) %> 
    </tbody>
    </center>
  </table>
  </div>

<%- include ('../partials/footer') %>
