<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <h1><center>Home</center></h1>
    <p><center>Rules and How to Use</center> </p>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp The CU Boulder University Tech Library is a place where you can borrow technology. Our purpose is to provide a convenient way to cover for you when you forgot a certain item or just want to try something new. To get started, search for an item in the search bar above. Alternatively, down below is a list of the most commonly borrowed items.</p>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp When you have added all of your items just click on cart in the navbar and it will walk you through the process. To pick up your items, visit The Resource Center (Room 2208) located in CU Boulder's University Memorial Center. To change your personal information or to see/return your items, click on profile</p>

   <table class = "table"><center>
   
   <thead>
    <tr>
        <th> Popularity</th>
        <th> Item Type </th>
        <th> Visual  </th>
        <th> Brand </th>
        <th> Find Your Item </th>
        <th> </th>
    </tr>
    </thead>
    

    <tbody>
    <% Items.forEach(function(Item){ %>
        
        <tr>
            <td> <%= Item.num %> </td>
            <td> <%= Item.categoryname %> </td>
            <td> <img src=<%= Item.url %> alt= <%= Item.categoryname %> height=100 width=100></img> </td>
            <td> <%= Item.brand %></td>
            
            <td>
                <form id ="form3" action="/search" method="GET">
                  <input value = "<%=Item.categoryname %>" name = "search" id = <%= Item.itemid %> type = hidden>
                 <button type="submit" class="btn btn-dark"> Find Item </button> 
                </form> 
            </td>
        </tr>
     <% }) %> 
    </tbody>
    </center>
  </table>
  </div>

<%- include ('../partials/footer') %>