<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>

<div>
    <div class="container">
        <h1><center>Manage your Profile</center></h1>
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= firstName %> <%= lastName %></h5>
                    <p class="card-text">Account Holder</p>
                    </div>
                </div>
                <p></p>
                <div class="card" style="width: 32rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= firstName %>'s Checked Out Items:</h5>
                    <% if(locals.Items.length != 0) { %>
                    <table class = "table"><center>
   
                        <thead>

                         <tr>
                             <th> itemID </th>
                             <th> Item Name </th>
                             <th> Time Left</th>
                             <th> Picture  </th>
                             <th> </th>
                         </tr>
                         </thead>
                         <tbody>
                         <% Items.forEach(function(Item){ %>  
                             <tr>
                                 <td> <%= Item.itemid %> </td>
                                 <td> <%= Item.categoryname %> </td>
                                 <td <%if(Item.day<0){%> style="color:Red;"<%} %>
                                 > <%= Item.day %> days <%= Item.hour %> hours <%= Item.minute %> minutes </td>
                                 <td> <img src=<%= Item.url %> alt= <%= Item.categoryname %> height=100 width=100></img> </td>
                                 <td>
                                    <form id ="form3" action="/return" method="POST">
                                      <input value = <%=Item.itemid %> name = "itemid" id = <%= Item.itemid %> type = hidden>
                                     <button type="submit" id="submit_button" class="btn btn-primary" style="margin-top: 20px;"> Return </button> 
                                    </form> 
                                </td>
                             </tr>
                          <% }) %> 
                         </tbody>
                         
                         </center>
                       </table>
                    <%} else {%>
                        <p>No items checked out! Visit <a href="/home">home</a> to see what is available.</p>
                    <% } %>
                    </div>
                </div>
            </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">Contact Details</h5>
                <p class="card-text">Edit your contact info here.</p>
                <p>First Name: <%= firstName %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#firstnameModal">
                        Edit First Name
                    </button> </td></th>
                <p>Last Name: <%= lastName %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LastNameModal">
                        Edit Last Name
                    </button> </td></th>                
                <p>Email: <%= email %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailModal">
                        Edit Email
                    </button> </td></th>
                <p>School Year: <%= schoolYear %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#schoolYearModal">
                        Edit School Year
                    </button> </td></th>
            </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">Modify your username and shopping settings here. </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <p>Username: <%= username %></p>
                 <th scope="row">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usernameModal">
                    Update Username
                </button> </td></th>
                </div>
            </div>
        </div>
    </div>
    <!-- note: modal code should be placed here -->
</div>

<!-- Modal Username -->
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/username" method="POST">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Update Username </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update Username</button>
                </div>
            </form>
            <!-- add form changed -->
        </div>
    </div>
</div>

<!-- Modal First Name -->
<div class="modal fade" id="firstnameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/firstName" method="POST">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Update First Name </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update First Name</button>
                </div>
            </form>
            <!-- add form changed -->
        </div>
    </div>
</div>

<!-- Modal Last Name -->
<div class="modal fade" id="LastNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/lastName" method="POST">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Update Last Name </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update Last Name</button>
                </div>
            </form>
            <!-- add form changed -->
        </div>
    </div>
</div>

<!-- Modal Email -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/email" method="POST">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Update Email </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update Email</button>
                </div>
            </form>
            <!-- add form changed -->
        </div>
    </div>
</div>

<!-- Modal School Year -->
<div class="modal fade" id="schoolYearModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/profile/schoolYear" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update School Year </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">School Year:</label>
                        <select id="schoolYear" class="form-select" name= "schoolYear">
                          <option selected disabled>Please Select</option>
                          <option value="Undergraduate, Freshman">Undergraduate, Freshman</option>
                          <option value="Undergraduate, Sophomore">Undergraduate, Sophomore</option>
                          <option value="Undergraduate, Junior">Undergraduate, Junior</option>
                          <option value="Undergraduate, Senior">Undergraduate, Senior</option>
                          <option value = "Graduate Student">Graduate Student</option>
                          <option value="Postgraduate">Postgraduate</option>
                          <option value="Faculty">Faculty</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update School Year</button>
                </div>
            </form>
            <!-- add form changed -->
        </div>
    </div>
</div>

</main>

<%- include ('../partials/footer') %>