<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>

<div>
    <div class="container">
        <h1><center>Manage your Profile</center></h1>
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= firstName %> <%= lastName %></h5>
                    <p class="card-text">Account Holder</p>
                    </div>
                </div>
                <p></p>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= firstName %>'s Item's Checked Out:</h5>
                    <table class = "table"><center>
   
                        <thead>
                            <tr>
                                <th> itemID </th>
                                <th> Item Name </th>
                                <th> Picture  </th>
                                <th> </th>
                            </tr>
                         </thead>
                         <tbody>
                         <% Items.forEach(function(Item){ %>  
                             <tr>
                                 <td> <%= Item.itemid %> </td>
                                 <td> <%= Item.categoryname %> </td>
                                 <td> <img src=<%= Item.url %> alt= <%= Item.categoryname %> height=100 width=100></img> </td>
                                 <td>
                                    <!-- <form id ="form3" action="/search" method="GET">
                                      <input value = <%=Item.categoryname %> name = "search" id = <%= Item.itemid %> type = hidden> -->
                                     <button type="submit" id="submit_button" class="btn btn-primary" style="margin-top: 20px;"> Return </button> 
                                    <!-- </form>  -->
                                </td>
                             </tr>
                          <% }) %> 
                         </tbody>
                         
                         </center>
                       </table>
                    </div>
                </div>
            </div>
        <div class="col">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                <h5 class="card-title">Contact Details</h5>
                <p class="card-text">Edit your contact info here.</p>
                <p>First Name: <%= firstName %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit First Name
                    </button> </td></th>
                <p>Last Name: <%= lastName %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit Last Name
                    </button> </td></th>                
                <p>Email: <%= email %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit Email
                    </button> </td></th>
                <p>University Year: <%= schoolYear %></p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit University Year
                    </button> </td></th>
            </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">Modify your username/password and shopping settings here. </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <p>Username: <%= username %></p>
                 <th scope="row">
                <button type="button" id = "username"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Username
                </button> </td></th>
                <p>Password:</p>
                <th scope="row">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Change Password
                    </button> </td></th>
                </div>
            </div>
        </div>
    </div>
    <!-- note: modal code should be placed here -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Username </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>
             
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>
               
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>
    
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Year</label>
                    <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp">
                  </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="createButton" class="btn btn-primary">Update Username</button>
                </div>
                
            </form> 
      
</div>


</main>

<%- include ('../partials/footer') %>