<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<!--
For Use in Modal:   
<div class="mb-3">
  <label for="disabledSelect" class="form-label">Select Duration:</label>
  <select id="duration" class="form-select" name= "duration">
    <option selected disabled>Please Select</option>
    <option value="2 weeks">2 weeks</option>
    <option value="1 week">1 week</option>
    <option value="1 day">1 day</option>
    <option value="12 hours">12 hours</option>
  </select>
</div> -->
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class = "container">
    <div class="col-auto" style="max-width: 600px; ">
    <h1>Search</h1>
    <form class="d-flex" action="/search" method="GET">
      <label for="search" class="form-label me-2"  >Search: </label>
      <!-- <p>Search:</p> -->
      <input type="text" class="form-control me-2" placeholder="Search" id="search" name ="search" value=<%=query%>>
      <!-- <label for="search" class="form-label"  >Filter: </label> -->
      <label for="filter">Filter: </label>
          <select id="filter" class="form-select me-2" name= "filter">
            <option selected disabled value="disabled">Please Select</option>
            <option value="available">Only Available</option>
            <option value="all">All Items</option>
          </select>
      <button id="submit_button" class="btn btn-secondary me-2" type="submit">Search</button>
    </form>
    </div>
            <% 
            if (locals.query){
              var question = '<p>Showing Results For: "' + query + '"</p>';
            %>
            <%- question %>
              <% } %>
            <%
            if (locals.results) {
                var tab = '';
                tab += '<table class="table table-responsive"> <thead> <tr> <th width = 100> ItemID </th> <th width = 100> Category </th> <th width = 100> SubCategory </th> <th width = 100>Brand</th> <th width = 100> Image </th><th> Add to Cart </th> <th> More about this Item</th> </tr> <br> </thead> <tbody>'
                results.forEach(function(item){
                  tab+= '<tr>';
                  tab+= '<td>' + item.itemid + '</td>';
                  tab+= '<td>' + item.catname + '</td>';
                  tab+= '<td>' + item.subcatname + '</td>';
                  tab+= '<td>' + item.brand + '</td>'
                  tab+= '<td>' + '<img src = "' + item.url + '" alt = "No Image" height = 60 width = 80>' + '</td>';
                  if(item.userid){
                    if(item.userid === userid){
                      tab+= '<td><form id ="form3"><button type="submit" class="btn btn-dark" disabled>Item You Have</button></form></td>';
                    }
                    else{
                      tab+= '<td><form id ="form3"><button type="submit" class="btn btn-dark" disabled>Item Unavaliable</button></form></td>';
                    }
                  }
                  else if(item.incart){
                    tab+= '<td><form id ="form3" action="/cart/delete" method="POST"><input name = "itemid" value = "' + item.itemid + '" type = "hidden"><button type="submit" class="btn btn-dark">Remove From Cart</button></form></td>';
                  }
                  else{
                    <!-- add modal here, we do not need to show information if the item is already in cart, maybe for unavailable items as well, but here first, also add dropdown in modal for duration, -->
                    tab+= '<td><form id ="form3" action="/cart/add" method="POST"><input name = "itemid" value = "' + item.itemid + '" type = "hidden"><input name = "duration" value = "7 days" type = "hidden"><button type="submit" class="btn btn-dark"> Add to Cart </button></form></td>';
                  }
                  tab+= '<td><form id ="form3"><button type="submit" class="btn btn-dark">+</button></form></td>';
                  tab+= '</tr>';
                }); 
                tab += '</tbody></table>';
                %>
               <%- tab %>
              <% } %>
            <!-- </div> -->
  </div>
</main>

<%- include ('../partials/footer') %>