<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<!--
For Use in Modal:   
<div class="mb-3">
  <label for="disabledSelect" class="form-label">Select Duration:</label>
  <select id="duration" class="form-select" name= "duration">
    <option selected disabled>Please Select</option>
    <option value="2 weeks">2 weeks</option>
    <option value="1 week">1 week</option>
    <option value="1 day">1 day</option>
    <option value="12 hours">12 hours</option>
  </select>
</div> -->
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class = "container">
    <div class="col-auto" style="max-width: 600px; ">
    <h1>Search</h1>
    <form class="d-flex" action="/search" method="GET">
      <label for="search" class="form-label me-2"  >Search: </label>
      <!-- <p>Search:</p> -->
      <input type="text" class="form-control me-2" placeholder="Search" id="search" name ="search" <% if (locals.query){%>value=<%=query%><% } %>>
      <!-- <label for="search" class="form-label"  >Filter: </label> -->
      <label for="filter">Filter: </label>
          <select id="filter" class="form-select me-2" name= "available" <% if (locals.available){ %> value = <%=available%><% } %>>
            <option value="all">All Items</option>
            <option value="available" <% if (locals.available){ %><% if(available == "available"){%> selected <%}}%>>Only Available</option>
          </select>
      <button id="submit_button" class="btn btn-secondary me-2" type="submit">Search</button>
    </form>
    </div>
            <% if (locals.query){ %>
            <p>Showing Results For: <%=query%></p>
            <% } %>
            <%
            if (locals.results) {
              var tab = '';
              <!-- tab += '<table> <thead> <tr> <th width = 100> ItemID </th> <th width = 100> Category </th> <th width = 100> SubCategory </th> <th width = 100>Brand</th> <th width = 100> Image </th><th> Add to Cart </th> </tr> <br> </thead> <tbody>' -->
              results.forEach(function(item){
                
                tab+= '<div class="card mb-3 container-fluid" style="max-width: 600px">';
                  tab+= '<div class="row g-0 container-fluid">';
                    tab+= '<div class="col-md-3">';
                      tab+='<img src = "' + item.url + '" class="img-fluid rounded-start" alt="..." height = 60 width = 80>';
                    tab+=  '</div>';
                    tab+= '<div class="col-md-7">';
                      tab+= '<div class="card-body">';
                        tab+='<h5 class="card-title">' + item.catname + '</h5>';
                        tab+='<h6 class="card-title">' + item.subcatname + '</h6>';
                        tab+='<h6 class="card-title">Brand: ' + item.brand + '</h6>';
                        tab+='<h6 class="card-title"> Item ID:' + item.itemid + '</h6>';
                        tab+='<p class="card-text">' + item.categorydescription + '</p>';
                        if(item.userid){
                          if(item.userid === userid){
                            tab+= '<form id ="form3"><button type="submit" class="btn btn-dark" disabled>Item You Have</button></form>';
                          }
                          else{
                            tab+= '<form id ="form3"><button type="submit" class="btn btn-dark" disabled>Item Unavaliable</button></form>';
                          }
                        }
                        else if(item.incart){
                          tab+= '<form id ="form3" action="/cart/delete" method="POST"><input name = "itemid" value = "' + item.itemid + '" type = "hidden"><button type="submit" class="btn btn-dark">Remove From Cart</button></form>';
                        }
                        else{
                          <!-- add modal here, we do not need to show information if the item is already in cart, maybe for unavailable items as well, but here first, also add dropdown in modal for duration, -->
                          tab+= '<form id ="form3" action="/cart/add" method="POST"><input name = "itemid" value = "' + item.itemid + '" type = "hidden"><input name = "duration" value = "7 days" type = "hidden"><button type="submit" class="btn btn-dark"> Add to Cart </button></form>';
                        }
                      tab+=  '</div>';
                    tab+=  '</div>';
                  tab+=  '</div>';
                tab+=  '</div>';


              }); 
              %>
             <%- tab %>
            <% } %>
            </div>
  </div>
</main>

<%- include ('../partials/footer') %>