<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class = "container">
    <h1>Home</h1>
    <form action="/search" method="POST">
      <label for="search" class="form-label"  >Search</label>
      <input type="text" class="form-control" id="search" name ="search">
      <button id="submit_button" class="btn btn-secondary" type="submit">Search</button>
    </form>
            <% 
            if (results) {
                var tab = '';
                tab += '<table> <thead> <tr> <th>Name of Item</th> <th width = 300></th> <th></th> </tr> <br> </thead> <tbody>'
                results.forEach(function(item){
                  tab+= '<tr>';

                  tab+= '</tr>';
                }); 
                tab += '</tbody></table>';
                %>
               <%- tab %>
              <% } %>
  </div>
</main>

<%- include ('../partials/footer') %>